@charset "UTF-8";
/* CSS Document */

											/*Body*/
body{
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

p {
	line-height: 2;
}

.skub{
	margin: 3% 0 0 0;
}

.skub2 {
	margin: 6% 0 0 0;
}

.skub3 {
	margin: 1.5% 0 0 0;
}
.skub4 {
	margin: 9% 0 0 0;
}

.copy {
	color: #4c4c4c;
}
											/*Links*/
.tekstLinks a {
	text-decoration: none; 
	font-weight: bold; 
	color: black;
}
											/*Container*/
.container{
}
											/*Logo*/
.logo{
	color: black;
}
.logo:hover {
	text-decoration: none;
	color: black;
}
											/*Name*/
.name img {
	width: 50%;
	height: auto;
}
											/*Navigation*/
.navLinks li{
	font-weight: bold;
	font-size: 1.25rem;
}
.navbar-nav > li{
    padding-left: 25px;
    padding-right: 25px;
}
.navPlacering {
	margin: 2% 0 0 0;
}
											/*Julie Sonne*/
.subtitle {
	color: #969696;
}
											/*Forside content*/
.projektBilleder img{
	width: 100%;
	height: auto;
	margin: 4% 0 0 0;
}

.content .content-overlay {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: black;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.content-details p{
  color: black;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}
											/*Tilbage*/
.tilbage{
	color: grey;
}
.tilbage:hover{
	color: black;
}
											/*Breadcrumbs*/
.breadcrumb{
	background-color: white;
	margin-left: 2%;
	display: flex;
	justify-content: flex-end;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #959595;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: black;
}
											/*Knap*/
.knap a{
	color: black;
	padding: 2% 3% 2% 3%;
	border: 2px solid black;
	text-decoration: none;
	margin: 0 1% 0 0;
}
											/*Content*/
.billeder img {
	height: auto;
	width: 95%;
}
											/*Kontakt*/
input {
	width: 100%; 
	margin: 5% 0 0 0;
	padding: 2% 0 2% 0%;
	border: 1px solid black;
	font-size: medium;
}
input[type=text]{
	margin: 5% 0 0 0;
	padding: 2% 0 2% 2%;
}
input[type=email]{
	padding: 2% 0 2% 2%;
}

textarea {
	width: 100%; 
	margin: 5% 0 0 0;
	padding: 2% 0 15% 2%;
	font-size: medium;
	border: 1px solid black; 
}

.sendknap {
	width: 20%;
	paddding: 3% 0 3% 0 !important;
	border: 1px solid black;
	font-size: medium;
}
    

											/*Medium*/
@media only screen and (max-width: 768px){
	
.skub-md {
	padding: 10% 0 0 0;
	border: 1px solid red;
}
}
											/*Small*/
@media only screen and (max-width: 375px){

}

